[submodule "ifcopenshell"]
	path = ifcopenshell
	url = https://github.com/IfcOpenShell/IfcOpenShell.git
[submodule "oce"]
	path = oce
	url = https://github.com/tpaviot/oce.git
[submodule "pcl"]
	path = pcl
	url = https://github.com/PointCloudLibrary/pcl.git
[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "ApproxMVBB"]
	path = ApproxMVBB
	url = https://github.com/gabyx/ApproxMVBB.git
[submodule "libccd"]
	path = libccd
	url = https://github.com/danfis/libccd.git
[submodule "octomap"]
	path = octomap
	url = https://github.com/OctoMap/octomap.git
[submodule "fcl"]
	path = fcl
	url = https://github.com/flexible-collision-library/fcl.git
